{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='row'>
    
	<div class='col-sm-6 col-sm-offset-3'>
		<h1 class="text-align-center"><strong>INSTITUTO TECNOLOGICO DE MILPA ALTA</strong></h1><br>
		<h2 class="text-align-center">Misión</h2><br>
Ofrecer servicios de educación superior tecnológica de calidad, con cobertura nacional, pertinente y equitativa, que coadyuve a la conformación de una sociedad justa y humana.

<h2 class="text-align-center">Visión</h2><br>
Ser Uno de los pilares fundamentales del desarrollo sostenido, sustentable y equitativo de la nación.</p>

<h2 class="text-align-center">DIRECTORIO INSTITUTO TECNOLÓGICO DE MILPA ALTA</h2><br>


		
	</div>
<center><img src='{% static "img/captura.png" %}'/></center>
<br>
<br>
<center> Instituto Tecnológico de Milpa Alta 
Independencia Sur No. 36, Colonia San Salvador Cuauhtenco, Delegación Milpa Alta, C.P. 12300</center>
<br>
<br>
</div>

{% endblock %}